.continer {

}

.continer>div>div>div>form>div{
  display: flex;
  flex-wrap: wrap;
}

.continer>div>div>div form>div>div {
  width: 48%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-right: 2%;
}

.continer>div>div>div form>div div>label {
  width:30%;
  text-align: right;
}
