.continer {

}

/* .continer div:first-child div:first-child div:first-child form {
  display: flex;
  flex-wrap: wrap;
}

.continer div:first-child div:first-child div:first-child form>div {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.continer div:first-child div:first-child div:first-child form div input {
  width: 80%;
}

.continer div:first-child div:first-child div:first-child form div label {
  width: 20%;
  text-align: right;
} */
