.continer {

}

.continer>div>div>div>form>div{
  display: flex;
  flex-wrap: wrap;
}

.continer>div>div>div form>div>div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  /* margin-right: 2%; */
}

.continer>div>div>div form>div>div>label{
  width:10%;
  text-align: right;
}

.continer>div>div>div form>div>div>div,
.continer>div>div>div form>div>div>input {
  width:90%;
}
