
html, body, #root {
  height: 100%;
  background-color: #f0f2f5;
}

body {
  margin: 0;
}

:global(.ant-select){
  min-width: 150px;
}

:global(.ant-radio-group .ant-radio-wrapper) {
  margin-right: 17px;
}

:global(.ant-notification-notice) {
  top: 60px;
}
